<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %} <!-- Loads Django default location for static files such as css, js and image files (main_app/static) -->
    <link rel="stylesheet" href="{% static 'main_app/main_app.css' %}">
    <script src="{% static 'main_app/main_app.js' %}" defer></script></head>
<body>
    <h1>Hello and welcome to the <u>sql_ex</u> front end!</h1>
    <h2>This page serves as the homepage/index of the sql_ex app: <u>main_app</u></h2>
    <p>The URL endpoint is defined in the <u>urls.py</u> file. In this case it is '', indicating the root of <u>main_app/</u>. Endpoints always point to views which serve the content/functionality of the endpoint, defined in <u>views.py</u>. This page is a regular view, meaning it focuses on the front end by rendering HTML content for user interaction. It provides a graphic user interface (GUI) where users can navigate and access different features of the app.</p>
    <p>In contrast, API views handle back-end operations, such as data retrieval and manipulation. For instance, when a user clicks the button below to fetch a list of records, the regular view (which renders this HTML file - <u>index.html</u>) calls the API endpoint <u>/main_app/api/recordlabel/</u> to fetch the necessary data using <u>main_app.js</u> (JavaScript). The API endpoint then points to the associated API view <u>RecordLabelListApiView</u> to process the request, interact with the database model <u>RecordLabel</u>, and return the serialized response in JSON format. The JavaScript function that called the API endpoint then processes the response as needed, and displays it on the HTML page.</p>

    <button id="fetchRecordLabels">Fetch Record Labels</button>
    <div id="recordLabelData"></div>
</body>
</html>
