<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %} <!-- Loads Django default location for static files such as css, js and image files (main_app/static) -->
    <link rel="stylesheet" href="{% static 'main_app/main_app.css' %}">
    <script src="{% static 'main_app/main_app.js' %}" defer></script></head>
<body>
    <h1>Hello and welcome to the <u>sql_ex</u> front end!</h1>
    <h2>This page serves as the homepage/index of the sql_ex app: <u>main_app</u></h2>
    <p>The URL endpoint for this webpage is defined by both the <u>urls.py</u> file in the <u>config</u> directory, which specifies the root as <u>'main_app/'</u>, and the <u>urls.py</u> file in the <u>main_app</u> directory, which specifies the rest of the path and what view the endpoint is associated with. The endpoint is defined as <u>''</u> indicating no additional path is added, making it the root of <u>'main_app/'</u>.</p>
    <p>Defined in <u>views.py</u>, views serve the content and functionality of endpoints. The view associated with this particular endpoint is <u>'index'</u>. It represents a regular view, meaning that when a user navigates to this endpoint, it prompts the server to provide an HTTP response containing the necessary rendering files—HTML, CSS, and JavaScript—to the client. The client then renders these files, providing a graphical user interface (GUI) that allows users to navigate and access various features of the app by way of interactive elements.</p>
    <p>In contrast, API views are responsible for back-end operations, such as data retrieval and manipulation. For instance, when a user clicks the button below to fetch a list of records, the JavaScript in <u>main_app.js</u> makes a call from the client-side to the API endpoint <u>'/main_app/api/recordlabel/'</u> to retrieve the necessary data. This request is directed to the associated API view <u>'RecordLabelViewSet'</u> in <u>views.py</u>, which processes the request by interacting with the <u>RecordLabel</u> database model, and returns a serialized response in JSON format. The JavaScript function that initiated the API request then processes this response client-side and displays the data on the HTML page.</p>
    <p>The filtering options selected by the user are included in the API request constructed by the JavaScript. For example, a request might look like <u>/main_app/api/record_label/?filter=Sumerian%20Records&</u>. The API ViewSet in <u>views.py</u> is able to process these parameters, enabling dynamic filtering based on user input and enhancing the versatility of the single endpoint.</p>

    <div class="filter-container">
        <div>
            <label for="searchName">Search Name:</label>
            <input type="text" id="searchName">
        </div>
        <div>
            <label for="filter">Filter:</label>
            <select id="filter">
                <option value="">No Filter</option>
                <option value="Century Media Records">Century Media Records</option>
                <option value="Kscope">Kscope</option>
                <option value="Sumerian Records">Sumerian Records</option>
            </select>
        </div>
        <div>
            <label for="orderBy">Order By:</label>
            <select id="orderBy">
                <option value="">Default (id)</option>
                <option value="name">Name</option>
                <option value="address">Address</option>
                <option value="email">Email</option>
            </select>
        </div>
        <div>
           <button id="fetchRecordLabels">Fetch Record Labels</button> 
        </div>
    </div>

    <div id="recordLabelData"></div>
</body>
</html>
